#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: rgb(218, 218, 218);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 80px;
}

#productname {
  margin-top: 70px;
  padding: 30px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  /* Title */

  width: 299px;
  height: 20px;

  /* Heading / Desktop / H2 */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

#opaqueclicked {
  position: absolute;

  top: 120px;
  left: 0px;
  bottom: 0;
  height: 1400px;
  width: 100%;
  z-index: 3;
  background-color: black;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

#root > div {
}
